/* page specific styles for FAQ page */

.section {
  padding: 15px 20px;
}

@media (max-width: 768px) {
  .section {
    padding: 20px 10px;
  }
}




/*アコーディオン　faq*/
.accordion-faq {
    max-width: 700px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 0 6px rgba(95, 159, 255, 0.377);
    margin: 1.5em 0;
}

.accordion-faq[open] {
  border: 2px solid #8ba6ff8a;; /* 外枠 */
  border-radius: 9px;       /* 任意で角を丸くする */
  padding-bottom: 1em; 
  box-shadow: 0 0 6px rgba(131, 153, 255, 0.377);
 
}

.accordion-faq:not([open]) {
    margin-bottom: 7px;
}

.accordion-faq summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1em 2em;
    border-radius: 5px;
    background-color: #81a3ff;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;


}

.accordion-faq summary::-webkit-details-marker {
    display: none;
}

.accordion-faq summary::before,
.accordion-faq summary::after {
    width: 3px;
    height: .9em;
    border-radius: 5px;
    background-color: #ffffff;
    content: '';
}

.accordion-faq summary::before {
    position: absolute;
    right: 2em;
    rotate: 90deg;
}

.accordion-faq summary::after {
    transition: rotate .3s;
}

.accordion-faq[open] summary::after {
    rotate: 90deg;
}

.accordion-faq p {
    transform: translateY(-10px);
    opacity: 0;
    margin: 0;
    padding: 1em 2em 0.5em 2em;
    color: #2e2653;
    transition: transform .5s, opacity .5s;
    line-height: 1.7;
}



.accordion-faq[open] p {
    transform: none;
    opacity: 1;
}

@media (max-width: 768px) {
  .accordion-faq,
  .accordion-faq[open] {
    width: 100%;
    max-width: none;
    margin: 1.5em auto;
    padding: 0;
    border-radius: 8px;
    box-shadow: 5 4px 5px rgba(122, 95, 255, 0.2);
    background-color: #ffffff;
    border: 1.5px solid #8ba6ff8a;; /* 外枠 */
  }

  .accordion-faq summary {
    padding: 0.9em 2em;
    font-size: 1rem;
    text-align: center;
    background-color: #81a3ff;
    box-shadow: 0 4px 20px rgba(122, 95, 255, 0.2);
    color: #ffffff;
    border-radius: 8px;
  }


  .accordion-faq .accordion-content {
    padding: 0.6em 0em;
    font-size: 0.9rem;
    color: #2e2653;
  }

  .accordion-faq p {
    margin: 0.2em 0 0 0;
    line-height: 1.6;
  }

  .accordion-faq img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1em auto;
  }
}




