/* page specific styles for howto */

.section {
  padding: 15px 15px 40px 15px;
}

/* ✅ スマホ表示時に余白を小さくする */
@media (max-width: 768px) {
  .section {
    padding: 10px 10px 20px 10px;
  }
}


/* ---------------タブ切り替え ---------------------*/

.tab-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap; 
  gap: 10px;
  margin-bottom: 1em;
  margin-bottom: 0;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
}
.tab-buttons button {
  padding:0.8em;
  border: none;
  background-color: #eee;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.2em;
  transition: background-color 0.3s;
  flex: 1;
  height: 65px;
  text-align: center;
  color: #5f5f81;
}
.tab-buttons button:hover {
  background-color: #f0f0f0;
}


.tab-buttons button.active {
  background-color: #6e64f8; /* サークル：色 */
  color: #fff;
}

.tab-wrapper {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  min-height: 200px; 
  transition: min-height 0.3s ease;
}
.tab-content {
  padding: 2em;
}